 
 /* width */
::-webkit-scrollbar {
	width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	 
	background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb { background: linear-gradient(rgb(255, 187, 0), #a36e0ccc); border-radius: 7px;}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover { border: 2px solid black;width: 14px;}

                                                /****** Starting Main body ******/
 body{ background: url(wallpaper\ \(13\).jpg); background-size: cover;color: white !important;}
 
                                                /***** Start Header section *****/
.brand{ color: white;font-family: Calisto MT;}
#header {position: fixed;z-index: 1000;left: 0;top: 0;width: 100vw;height: auto;}
#header .header {min-height: 8vh;background-color: rgba(31, 30, 30, 0.24);transition: .3s ease background-color;}
#header .nav-bar {display: flex;align-items: center;justify-content: space-between;width: 100%;height: 100%;max-width: 1300px;padding: 0 10px;}
#header .nav-list ul {list-style: none;position: absolute;background-color: rgb(31, 30, 30);width: 100vw;height: 50vh;left: 100%;top: 0;display: flex;flex-direction: column;justify-content: center;align-items: center;z-index: 1;overflow-x: hidden;transition: .5s ease left;}
#header .nav-list ul.active {left: 0%;}
#header .nav-list ul a {font-size: 1rem;font-weight: 250;letter-spacing: .2rem;text-decoration: none;color: white;text-transform: uppercase;padding: 20px;display: block;}
#header .nav-list ul a::after {content: attr(data-after);position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) scale(0);color: rgba(240, 248, 255, 0.021);font-size: 13rem;letter-spacing: 50px;z-index: -1;transition: .3s ease letter-spacing;}
#header .nav-list ul li:hover a::after {transform: translate(-50%, -50%) scale(1);letter-spacing: initial;}
#header .nav-list ul li:hover a {color: gold; padding-top: 2px;padding-bottom: 2px;border-left: 2px solid white;border-right: 2px solid white;}
#header .hamburger {height: 60px;width: 60px;display: inline-block;border: 3px solid white;border-radius: 50%;position: relative;display: flex;align-items: center;justify-content: center;z-index: 100;cursor: pointer;transform: scale(.8);margin-right: 20px;}
#header .hamburger:after {position: absolute;content: '';height: 100%;width: 100%;border-radius: 50%;border: 3px solid white;animation: hamburger_puls 1s ease infinite;}
#header .hamburger .bar {height: 2px;width: 30px;position: relative;background-color: white;z-index: -1;}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {bottom: 8px;}
#header .hamburger.active .bar::before {bottom: 0;}
#header .hamburger.active .bar::after {top: 0;}
                                     /****** End Header section *******/
 
                                    /************** open fixed icon ************/

.fixed-icon{position: fixed;top: 40%;left: 95%;  z-index: 9999;}
.fixedicon-work{ padding: 5px;margin: 10px; border:solid #ffa600d0;}
.fa-color{color: #ffa600d0;}
.fa-color:hover{color:#000000d0;}
.fixedicon-work:hover{ background-color:  #ffa600d0;border:solid #000000d0;}
.fixed-icon:hover{ background-color: rgba(52, 59, 52, 0); }

@media only screen and (max-width:1344px)
{
    .fixed-icon{ display: none;}
}
                                    /* ***********close fixed icon************ */    
                
                              
                                    /******** Start name and image*******/
 
.smoke{  background-size: cover;height: 500px; }
#image-add-name{ align-items: center !important;text-align: center !important; font-family: Goudy Old Style !important; } 
.image-add-names{ display: flex; flex-direction: row; align-items: center !important;padding-left: 15%;padding-right: 15%; }
.mamo-name{ padding-top: 120px;font-weight: bolder; margin: 10px;letter-spacing: 3px;align-items: center !important;font-size: xx-large;}

@media only screen and (max-width:1024px)
{
    .brand h1{font-size: 24px !important;} 
    .image-add-names {display: flex;margin-left: 10px;margin-right: 10px;flex-direction: column;} 
    #image-add-name{  align-items: center !important;text-align: center !important;padding: 10px; }  
    .mamos{height: 150px !important;}
    .mamo-name{font-size: 22px !important; }
}  
                                    /********* End name and image **********/

                                                     /* open about us */

#about{color: rgb(255, 255, 255);font-weight: bolder;font-size: 40px; font-family: Goudy Old Style !important;text-align: center;}
#about-para{text-align: justify;width: 1000px;color: white;font-family: Lucida Handwriting !important;font-weight: bold; }
.about-us{padding-top: 100px;margin: 0;}

@media only screen and (max-width:900px)
{
    #about-para{font-size: 10px !important;width: 280px;text-align: justify;font-weight: lighter;}
    #about{font-size: 25px;margin-top: -40px;}
     
}
                                                     /* close about us */

                                                     /* open skills  */

.img-areas{display: flex;flex-wrap: wrap;flex-direction: row;align-items: center;justify-content: center;}
.single-image{padding: 20px 30px 25px;border-bottom-left-radius: 2pc;  border-top-right-radius:2pc ;  background:linear-gradient(rgba(255, 145, 0, 0.753), #a35d0ccc);border:.5px solid rgb(34, 33, 33);  margin-right: 20px;  color: white;  font-weight: bold;font-family: sans-serif !important;margin-bottom: 10px; margin-top: 10px;box-shadow: rgba(216, 188, 65, 0.651) 3px 5px 5px 3px; text-align: center !important;} 

@media only screen and (max-width:900px)
{
    .single-image{margin: 10px;width: 300px;font-size: x-small;  }
    .skills{height: 400px;}
    .working{font-size: 28px;font-weight: bold !important;}
}
                    
  

                                                    /* close skills */

                     

                    